@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #F5F5DC;
  --color-text: #A0522D;
}

html.dark {
  --color-bg: #3E2723;
  --color-text: #F5F5DC;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}

.card-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}